.btnLogin{
    width: 100%;
    color: black;
    background: #fff;
}
.imgLogo{
    margin-top: 123px;
}
ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}
#formLogin{
    //float: center;
    //margin: 15px auto;
    //margin-bottom: 14px;
    //margin-top: 10em;
}
.inpL{
    color: white;
}
.iconL{
    margin-top: 38px !important;
    color: white;
}
.containerLog{
    background: url(../assets/imgs/loginF.jpg) no-repeat;
    width: 100%;
    background-size: 100% 100%;
}
.lblL{
    color: white;
}
.boxs{
    background: none;
}
