<ion-header>
  <ion-navbar class="pf">
    <button ion-button menuToggle class="burguer">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-navbar>
  </ion-header>
  <ion-content padding class="containerPrin tutorial-page grid-basic-page">
    <div id="separator">
      <h1>Bienvenido a Prevé Ya</h1>
      <div>
          <ion-icon id="iconS" class="icon-search" name="md-search"></ion-icon>
          <ion-input id="search" type="text" placeholder="Buscar"></ion-input>
      </div>
    </div>
    <hr>
    <ion-slides pager>
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.image" class="slide-image"/>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p><a href='#' *ngIf="slide.component!=''" (click)="readMore(slide)">Leer más</a>
      </ion-slide>
    </ion-slides>
    <hr>
    <ion-grid>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10>
          <button ion-button class="btns" (click)="test()">Test de Probabilidad</button>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>