.formTest{
    border-color: black !important;
}
#btndismiss{
    background: #920E0E;
    border-radius: 3px;
    float: left;
    width: 65px;
    height: 30px;
}
hr {
    height: 5px;
    min-width:100%;
    border: 0;
    background-color: #AEDEAC !important;
}
