#btndismiss{
    background: #920E0E;
    border-radius: 360px;
    float: right;
    width: 30px;
    height: 20px;
}
h1{
    text-align: center;
}
#hola{
    color: #4D9368;
}
.opcQ{
    font-size: 17px;
}
#linequestion{
    border: 3px !important;
    height: 3px !important;
}
#messageQuestion{
    border-radius: 12px;
    border: 2px solid;
    border-color: #B2B2B2 !important;
    width: 100%;
    margin: 83px auto;
    padding: 5px;
}
#ptext{
    font-size: 12px;
}
#chipcountuner{
    color: #4D9368 !important;
    float: right;
    font-size: 16px;
}