.commit{
    margin-top: 39px !important;
}
.btnCommit{
    margin-left:13px;
}
.comment{
    color:black !important;
    margin-left:30px !important;
}
.commentU{
    color:black !important;
    font-size: 16px !important;
}
.iconComment{
    font-size:28px !important;
}
.tittle{
    text-align:center !important;
}